# ██     ██████    █    ██  ██ ██████  ████▄ ███████  ████▄ 
# ██     ██  ██ ███████ ██  ██ ▀▀  ██     ██ ██ █ ██     ██ 
# ██     ██  ██ ██ █ ██ ██████    ▀██     ██ ██ █ ██     ██ 
# ██  ▄▄ ██  ██ ██   ██ ▄▄  ██ ▄▄  ██ ▄▄  ██ ██ █ ██ ▄▄  ██ 
# ██████ ██  ██ ███████ ██████ ██████ ██████ ████ ██ ██████ 

# ▝█   ▀█ █▀▀ █▀█  ▀█ ▝█  █▀█ ▝▆  █▀█ ▝▆  █▀█ 
# █▀█   █ █▀█ █ █   █ █▀█   █ █▀█   █ █▀█ █ █ 
# █▄█ █▄█ █▄█ █▄▄ █▄█ █▄█ █▄█ █▄█ █▄█ █▄█ █ █ 


*ipynb_checkpoints
*__pycache__

# Ignore file extensions
*.txt
*.model
*.npy
*.xz
*.log
*.db
*.tsv
*.bytes
*.gz
*.bz2
*.csv
*.json

# Except
!questions*
!vef.csv
!analogies*
!related*